body{
  font-family: 'Montserrat', sans-serif;
}
h1.brand {
  font-size: 30px;
  display: contents;
}
button.btn.btn-success.text-center {
    margin-top: 15px;
}
/*landing*/
header .carousel-inner .item{
  height: 100vh;
}
.navbar-inverse {
background-color: transparent;
border-color: transparent;
}
.navbar-inverse .navbar-brand {
color: #fff;
font-family: 'Alfa Slab One', cursive;
font-size: 25px;
}
.navbar-inverse .navbar-nav > li > a {
color: #fff;
}
/*animaciones*/

.bg{
  background-image: url(../img/hero2.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.red{
  color: rgb(188, 60, 60);
}
.btn-primary {
  color: #fff;
  background-color: #337ab773;
  border-color: #2e6da4;
  margin: 15px;
  width: 150px;
}
a.btn.btn-primary.ingreso {
  width: 150px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  margin-top: 9px;
}
.navbar-header {
  margin-top: 9px;
}
/*carrousel*/
.carousel-caption{
  padding-bottom: 250px;
  text-align: left;
  left: 13%;
}
.carousel-caption h2 {
font-size: 50px;
/*text-transform: uppercase;*/
font-family: 'Alfa Slab One', cursive;

}
.carousel-caption .btn {
display: inline-block;
margin-top: 15px;
}
.carousel-control.right{
  background-image: none;
}
.carousel-control.left{
  background-image: none;
}


div#bs-promo-navbar-collapse-1 {
  background-color: black;

}
a.navbar-brand {
  display: flex;
  margin: 10px; 
}

/*Pormociones*/
nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse {
  background-color: black;
}

/*seccion Promociones*/


ul.nav.navbar-nav.navbar-right {
  margin: 10px;
}



/*footer secciones*/
footer {
  background-color: rgb(70, 68, 68);
  margin: 0px;
  height: 300px;
}

.footer-nav{
  margin: 10rem;
  padding: 15px;
}

.footer-nav li{
  list-style: none;
}

.footer-nav li a{
  text-decoration: none;
  color: white;
  padding: 2rem;   
}
.footer-rating{
  background-color: black;

  text-align: center;
  color: white;
}
ul.footer-nav {
  margin: 10px;
}
/*Formulario de registro*/
.register-photo {
  background:#f1f7fc;
  padding:80px 0;
}

.register-photo .image-holder {
  display:table-cell;
  width:auto;
  background:url(../img/rolex-registro.jpg);
  background-size:cover;
}

.register-photo .form-container {
  display:table;
  max-width:900px;
  width:90%;
  margin:0 auto;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

.register-photo form {
  display:table-cell;
  width:400px;
  background-color:#ffffff;
  padding:40px 60px;
  color:#505e6c;
}

@media (max-width:991px) {
  .register-photo form {
    padding:40px;
  }
  .logos-top{
    display: none;
  }
}

.register-photo form h2 {
  font-size:24px;
  line-height:1.5;
  margin-bottom:30px;
}

.register-photo form .form-control {
  border:none;
  border-bottom:1px solid #dfe7f1;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:6px;
  height:40px;
}

.register-photo form .form-check {
  font-size:13px;
  line-height:20px;
}

.register-photo form .btn-primary {
  background:#0f00ff91;;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:35px;
  text-shadow:none;
  outline:none !important;
}

.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
  background:#eb3b60;
}

.register-photo form .btn-primary:active {
  transform:translateY(1px);
}

.register-photo form .already {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}
.logos-top {
    margin-top: 2%;
    width: 80%;
}

/*productos*/


.mt-50{
  margin-top: 50px;
}

.mb-50{
  margin-bottom: 50px;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  
  border-radius: .1875rem;
}

.card-img-actions {
  position: relative;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 2.25rem;
  text-align: center;
}

.card-img{

  width: 350px;
}

.star{
      color: red;
}

.bg-cart {
  background-color:#0f00ff91;;
  color:#fff;
}

.bg-cart:hover {
  
  color:#fff;
}

.bg-buy {
  background-color:green;
  color:#fff;
  padding-right: 29px;
}
.bg-buy:hover {
  
  color:#fff;
}

a{

  text-decoration: none !important;
}

/*promociones banner imagenes*/
.container-lg{
  padding: 20px;
}
.container-lg.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item1 {
  background-image: url(../img/panarai.jpg);
  background-size: cover;
  background-position: top center;
  width: 400px;
  height: 280px;
  margin: 15px;
  line-height: 150px;
  display: flex;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}
.item2 {
  background-image: url(../img/cartier.jpg);
  background-size: cover;
  background-position: top center;
  width: 400px;
  height: 280px;
  margin: 15px;
  line-height: 150px;
  display: flex;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}
.item3 {
  background-image: url(../img/rolex.jpg);
  background-size: cover;
  background-position: top center;
  width: 400px;
  height: 280px;
  margin: 15px;
  line-height: 150px;
  display: flex;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}
.item4 {
  background-image: url(../img/ubicacion.jpeg);
  background-size: cover;
  background-position: top center;
  width: 400px;
  height: 280px;
  margin: 15px;
  line-height: 150px;
  display: flex;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}
/*.item5 {
 
  background-size: cover;
  background-position: top center;
  width: 400px;
  height: 280px;
  margin: 15px;
  line-height: 150px;
  display: flex;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}*/
.item6 {
  background-image: url(../img/sevicio.jpg);
  background-size: cover;
  background-position: top center;
  width: 400px;
  height: 280px;
  margin: 15px;
  line-height: 150px;
  display: flex;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}
input#button-visita {
  background-color: white;
  color: black;
}
input#button-servicio {
  background-color: white;
  color: black;
}

.grid-top-container{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 15px;
}

section.grid-top-container {
  margin-top: 6%;
}
.container-fluid.text-center {
  margin-top: 4%;
}
.item1 h3{
  color: white;
  padding: 10px;
}
.item1 h3 a{
  color: white;
   
}
.item2 h3{
  color: white;
  padding: 10px;
}
.item2 h3 a{
  color: white;   
}
.item3 h3{
  color: white;
  padding: 10px;
}
.item3 h3 a{
  color: white;
}
.item4 h2 {
  color: rgb(22 20 20);
  font-weight: bold;
  padding: 10px;
  margin: auto;
 
  background-color: #ffffffb0;
  height: 21%;
  width: 100%;
}
.item6 h3 {
  color: rgb(22 20 20);
  font-weight: bold;
  padding: 10px;
  margin: auto;

  background-color: #ffffffb0;
  height: 21%;
  width: 100%;
}
h5#desc-columna {
  width: 85%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.item5 {
  margin-top: 10%;
}
.item2-text{
  border-left: 1px solid black;
  border-right: 1px solid black;
}
main {
  margin-left: 10%;
  margin-right: 10%;
}
.logos-top {
  margin-top: 2%;
}

/*footer*/
.footer-col a {
  color: rgba(255, 252, 252, 0.75);
}

/*.content {
  height: 80vh;
  background: #ccc;
}*/

.footer-content-wrapper {
  width: 80%;
  margin: 1em auto;  
}

.footer-col {
  display: inline-block;
  padding: 0.5em 0.1em 0.5em 1em;
  box-sizing: border-box;
  border-right: solid 1px #bbb;
}
.footer-col:nth-child(4) {
  border: none;
}

.ta-l {
  text-align: left;
}
.flt {
  float: left;
}

.flt:nth-child(4):after {
   content: " "; 
   visibility: hidden; 
   display: block; 
   height: 1em; 
   clear: both;
}

.large-25 {
  width: 25%;
}

.footer-col a {
  display: block;
  margin: 0.3em 0;
}

.footer-titulos{
  color: white;
}

h3.text-center {
  font-weight: bold;
}
a.boton-texto {
  color: black;
}
button.btn.btn-success.text-center {
  margin-top: 15px;
}
.logos-top-hero {
  margin-top: 4%;
  align-self: center;
}
@media (max-width:1788px){
  .item4 h2{
    display: none;
  }
  .item6 h3{
    display: none;
  }
  .medios-pago{
    display: none;
  }

}
@media (max-width:767px){
  .bg {
background-position: 65%;
}
  .carousel-caption {
padding-bottom: 140px;
      left: 5%;
}
  .carousel-caption h1 {
font-size: 20px;
}
  .carousel-caption h3 {
font-size: 15px;
}
.logos-top{
  display: none;
}
.medios-pago{
  display: none;
}
}
@media (max-width: 550px) {
  .small-50 {
    width: 50%;  
  }
  .footer-col:nth-child(2) {
    border: none;
  }
}

@media (max-width: 300px) {
  .tiny-100 {
    width: 100%;
  }
  .footer-col { 
    border: none;
  }
}
