/*productos*/

.card{
    overflow: hidden;
  }
  .card img{
    transition: transform .5s ease;
  }
  .card:hover img{
    transform: scale(1.1);
  }
 
  .mt-50{
    margin-top: 50px;
  }
  
  .mb-50{
    margin-bottom: 50px;
  }
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    
    border-radius: .1875rem;
  }
  
  .card-img-actions {
    position: relative;
  }
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2.25rem;
    text-align: center;
  }
  
  .card-img{
  
    width: 350px;
  }
  
  .star{
        color: red;
  }
  
  .bg-cart {
    background-color:#0f00ff91;;
    color:#fff;
  }
  
  .bg-cart:hover {
    
    color:#fff;
  }
  
  .bg-buy {
    background-color:green;
    color:#fff;
    padding-right: 29px;
  }
  .bg-buy:hover {
    
    color:#fff;
  }
  
  a{
  
    text-decoration: none !important;
  }
  .rating .fa{
    color: #ff523b;
  }
  .condicion{
    line-height: 10px;
    margin-top: 8px;
  }
  .categorias-texto {
    text-align: center;
    height: 60px;
    margin: 2%;
}
.categorias-texto h3 {
  font-size: 30px;
  font-weight: bolder;

}
h2#texto-destacados {
  text-align: left;
  margin-top: 5%;
}
.grid-top-container-prod {
  margin-top: 9%;
  text-align: -webkit-center;
}
.item-omega {
  background-image: url(../img/productos/categorias/omega.jpg);
  background-size: cover;
  background-position: top center;
  width: 400px;
  height: 280px;
  margin: 15px;
  line-height: 150px;
  display: flex;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.item-iwc {
  background-image: url(../img/productos/categorias/IWC_Portugieser_Chronograph_FI.jpg);
  background-size: cover;
  background-position: top center;
  width: 400px;
  height: 280px;
  margin: 15px;
  line-height: 150px;
  display: flex;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.item-rolex{
  background-image: url(../img/productos/categorias/Rolex-Logo.jpg);
  background-size: cover;
  background-position: top center;
  width: 400px;
  height: 280px;
  margin: 15px;
  line-height: 150px;
  display: flex;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.item-rolex:hover{
  transform: scale(1.1);
  opacity: 0.80;
}
.item-iwc:hover{
  transform: scale(1.1);
  opacity: 0.80;

}
.item-omega:hover{
  transform: scale(1.1);
  opacity: 0.80;
}


strong.texto-marca {
  font-size: 22px;
  color: chocolate;
}
.logo-patek {
  margin-top: 4%;
}
h2.patek-text {
  font-size: -webkit-xxx-large;
  color: white;
  font-family: auto;
}
@media screen and (max-width: 1920px){
  .grid-top-container-prod {
    margin-top: 9%;
    text-align: -webkit-center;
}
}
@media screen and (max-width: 1199px){
  .grid-top-container-prod {
    margin-top: 19%;
    text-align: -webkit-center;
}
}
@media screen and (max-width: 983px){
  .grid-top-container-prod {
    margin-top: 30%;
    text-align: -webkit-center;
}
}
@media screen and (max-width: 913px){
  .grid-top-container-prod {
    margin-top: 41%;
    text-align: -webkit-center;
}
}
@media screen and (max-width: 500px){
  .logos-top-productos {
    display: none;
  }
}

@media screen and (max-width: 445px){
 .container-fluid.text-center {
  margin-top: 46%;
 }
}
@media screen and (max-width: 375px){
  .container-fluid.text-center {
   margin-top: 70%;
  }
 }
 @media screen and (max-width: 393px){
  .container-fluid.text-center {
   margin-top: 65%;
  }
 }
 @media screen and (max-width: 820px){
 
  .grid-top-container-prod {
    margin-top: 45%;
  }
 }
 h2.titulo-medios-pago {
  font-size: 24px;
  margin-bottom: 24px;
  margin-top: 24px;
}



