/*productos*/

.card{
    overflow: hidden;
  }
  .card img{
    transition: transform .5s ease;
  }
  .card:hover img{
    transform: scale(1.1);
  }
 
  .mt-50{
    margin-top: 50px;
  }
  
  .mb-50{
    margin-bottom: 50px;
  }
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    
    border-radius: .1875rem;
  }
  
  .card-img-actions {
    position: relative;
  }
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2.25rem;
    text-align: center;
  }
  
  .card-img{
  
    width: 350px;
  }
  
  .star{
        color: red;
  }
  
  .bg-cart {
    background-color:#0f00ff91;;
    color:#fff;
  }
  
  .bg-cart:hover {
    
    color:#fff;
  }
  
  .bg-buy {
    background-color:green;
    color:#fff;
    padding-right: 29px;
  }
  .bg-buy:hover {
    
    color:#fff;
  }
  
  a{
  
    text-decoration: none !important;
  }
  .rating .fa{
    color: #ff523b;
  }
  .condicion{
    line-height: 10px;
    margin-top: 8px;
  }
  .categorias-texto {
    text-align: center;
    height: 60px;
    margin: 2%;
}
.categorias-texto h4 {
  font-size: 30px;
  font-weight: bolder;

}
.grid-top-container-prod {
  margin-top: 9%;
  text-align: -webkit-center;
}
.item-omega {
  background-image: url(../img/productos/categorias/omega.jpg);
  background-size: cover;
  background-position: top center;
  width: 400px;
  height: 280px;
  margin: 15px;
  line-height: 150px;
  display: flex;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}

.item-iwc {
  background-image: url(../img/productos/categorias/IWC_Portugieser_Chronograph_FI.jpg);
  background-size: cover;
  background-position: top center;
  width: 400px;
  height: 280px;
  margin: 15px;
  line-height: 150px;
  display: flex;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}

.item-rolex {
  background-image: url(../img/productos/categorias/Rolex-Logo.jpg);
  background-size: cover;
  background-position: top center;
  width: 400px;
  height: 280px;
  margin: 15px;
  line-height: 150px;
  display: flex;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}

strong.texto-marca {
  font-size: 22px;
  color: chocolate;
}